body {
    background-color: #F8F8F8;
    font-family: 'Helvetica Neue';
    width: 80%;
    margin: 0 auto;
}

header img {
    width: 100%;
}

/* Navigation */

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    text-decoration: none;
    padding: 3%;
}

nav a {
    text-decoration: none;
    color: #00416D;
    font-weight: bold;
    font-size: 1rem;   
}

/* News */

.newstitle {
    margin-left: 5%;
}

.newsdiv {
    margin-left: 5%;
    margin-right: 5%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    opacity: 1;
}

.newsitems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.newsitems img {
    width: 60%;
    padding: 5% 5% 10% 5%;
}

.newsbuttondiv {
    text-align: center;
}

.newsbutton {
    background: #00C7EE 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 3px solid #00C7EE;
    border-radius: 60px;
    opacity: 1;
    padding: 1% 6%;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    margin: 0 auto;
}

/* Volunteer Hours */

.volunteertitle {
    margin-left: 5%;
    margin-top: 5%;
}

.volunteerform {
    margin-left: 5%;
    margin-right: 5%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    opacity: 1;
    padding: 1.5% 2%;
}

label {
    margin: 1%;
    display: inline-block;
    width:100px;
    text-align: right;
}

.volunteerform input {
    width: 50%;
}

.volunteerbutton input{
    border-radius: 60px;
    padding: 1% 6%;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1rem;
    background: #00C7EE 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0297B4;
    border: 3px solid #00C7EE;
    border-radius: 60px;
    opacity: 1;  
    margin-left: 75%;
    margin-top: 2%;
}

/* Contact */

.contacttitle {
    margin-left: 5%;
    margin-top: 3%;
}

.contactform {
    margin-left: 5%;
    margin-right: 5%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    opacity: 1;
    padding: 1.5% 2%;
}

.contactform input {
    width: 50%;
}

.contactbutton input {
    border-radius: 60px;
    padding: 1% 6%;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1rem;
    background: #00C7EE 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0297B4;
    border: 3px solid #00C7EE;
    border-radius: 60px;
    opacity: 1;  
    margin-left: 75%;
    margin-top: 2%;
}

/* Footer */

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-top: 2%;
}

/* Newsletter */

.newsletter {
    width: 100%;
}

.newsletter h3 {
    margin-left: 15%;
}

.newsletter form {
    margin-left: 5%;
}

.newsletterform {
    margin-left: 5%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    opacity: 1;
    padding: 1.5% 2%;
}

.newsletterform input {
    width: 50%;
}

.newsletterbutton input{
    border-radius: 60px;
    padding: 1% 6%;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1rem;
    background: #00C7EE 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0297B4;
    border: 3px solid #00C7EE;
    border-radius: 60px;
    opacity: 1;  
    margin-left: 70%;
    margin-top: 3%;
    margin-bottom: 5%;
}

/* Social Media */

.social {
    width: 100%;
}

.social h3 {
    margin-left: 5%;
}

.sociallinks {
    margin-left: 5%;
    margin-right: 10%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    opacity: 1;
    padding: 1.5% 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.sociallinks img {
    width: 50%;
    margin-left: 25%;
    padding: 17% 0 17% 0;
}

/* Thank you */

.thankyou {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    opacity: 1;
    padding: 1.5% 2%;
    margin: 3% 5% 0 5%;
}