body {
    background-color: #F8F8F8;
    font-family: 'Helvetica Neue';
    width: 80%;
    margin: 0 auto;
}

header img {
    width: 92%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2, h3 {
    color: #00416D;
}

/* Navigation */

/*nav ul, .dropdown ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    text-decoration: none;
    padding: 3%;
}

nav a {
    text-decoration: none;
    color: #00416D;
    font-weight: bold;
    font-size: 1rem;   
}*/

ul {
    list-style-type: none;
    /*background-color: #C2EBEF;*/
    margin: 10px;
    padding: 2px;
    
    /*border-style: solid;*/
    /*border-color:  rgb(137, 138, 138);*/

}

.navbar {
    overflow: hidden;
    /*background-color: #C2EBEF;*/
  }
  
  .navbar a {
    float: left;
    font-size: 1.2rem;
    color: #00416D;
    font-weight: bold;
    /*padding: 5%;*/
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;
    padding-left: 45px;
    
    text-decoration: none;
    /*margin-right: 5%;*/
  }
  
  .dropdown {
    overflow: hidden;
    float: left;
    margin-right:10%;
  }
  
  .dropdown .dropbtn {
    font-size: 1.2rem;  
    border: none;
    outline: none;
    color: #00416D;
    font-weight: bold;
    background-color: #f8f8f8;
    /*background-color: inherit;
    font-family: inherit;*/
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .navbar a:hover{
    color:#FF4D20;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8f8f8;
    min-width: 130px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: #00416D;
    font-size: .9rem;
    padding: 6px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 130px;
  }
  
  .dropdown-content a:hover {
    /*background-color: #ddd;*/
    background-color: #C2C4C3;
    color: #00416D;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* News */

.newstitle {
    margin-left: 5%;
}

.newsdiv {
    margin-left: 5%;
    margin-right: 5%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    opacity: 1;
}

.newsitems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.newsitems img {
    width: 60%;
    padding: 5% 5% 10% 5%;
}

.newsbuttondiv {
    text-align: center;
}

.newsbutton {
    background: #00C7EE 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 3px solid #00C7EE;
    border-radius: 60px;
    opacity: 1;
    padding: 1% 6%;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    margin: 0 auto;
}

.newsbutton:hover {
    background-color:rgb(255, 97, 58);
}

/* Volunteer Hours */

.volunteertitle {
    margin-left: 5%;
    margin-top: 3%;
}

.volunteerform {
    margin-left: 5%;
    margin-right: 5%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    opacity: 1;
    padding: 1.5% 2%;
}

label {
    margin: 1%;
    display: inline-block;
    width:100px;
    text-align: right;
}

.volunteerform input {
    width: 50%;
}

.volunteerbutton input{
    border-radius: 60px;
    padding: 1% 6%;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1rem;
    background: #00C7EE 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0297B4;
    border: 3px solid #00C7EE;
    border-radius: 60px;
    opacity: 1;  
    margin-left: 75%;
    margin-top: 2%;
}

.volunteerbutton input:hover {
    background-color: rgb(255, 97, 58);
}

/* Contact */

.contacttitle {
    margin-left: 5%;
}

.contactform {
    margin-left: 5%;
    margin-right: 5%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    opacity: 1;
    padding: 1.5% 2%;
}

.contactform input {
    width: 50%;
}

.contactbutton input {
    border-radius: 60px;
    padding: 1% 6%;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1rem;
    background: #00C7EE 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0297B4;
    border: 3px solid #00C7EE;
    border-radius: 60px;
    opacity: 1;  
    margin-left: 75%;
    margin-top: 2%;
}

.contactbutton input:hover {
    background-color: rgb(255, 97, 58);
}


/* Footer */

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

/* Newsletter */

.newsletter {
    width: 100%;
}

.newsletter h3 {
    margin-left: 15%;
}

.newsletter form {
    margin-left: 5%;
}

.newsletterform {
    margin-left: 5%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    opacity: 1;
    padding: 1.5% 2%;
}

.newsletterform input {
    width: 50%;
}

.newsletterbutton input{
    border-radius: 60px;
    padding: 1% 6%;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1rem;
    background: #00C7EE 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0297B4;
    border: 3px solid #00C7EE;
    border-radius: 60px;
    opacity: 1;  
    margin-left: 70%;
    margin-top: 3%;
    margin-bottom: 5%;
}

.newsletterbutton input:hover {
    background-color: rgb(255, 97, 58);
}


/* Social Media */

.social {
    width: 100%;
}

.social h3 {
    margin-left: 5%;
}

.sociallinks {
    margin-left: 5%;
    margin-right: 10%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    opacity: 1;
    padding: 1.5% 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.sociallinks img {
    width: 50%;
    margin-left: 25%;
    padding: 17% 0 17% 0;
}

/* Thank you */

.thankyou {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    opacity: 1;
    padding: 1.5% 2%;
    margin: 3% 5% 0 5%;
}

/* News Page */

.newslist {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    opacity: 1;
    padding: 1.5% 2%;
    margin: 3% 5% 0 5%;
}

.newslist h4 {
    color: #707070;
}

.newslist h3 {
    color : #00416D;
}

.newslist p {
    margin-bottom: 10%;
}

.newspagetitle {
    margin-left: 5%;
    margin-top: 2%;
}